@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    --blue-color: #2B8FEC;
    --green-color: #3FDF9C;
    --white-color: #FFFFFF;
    --back-color: #1E1E1E;

    --padding-value: 40px;

    padding: 0;
    margin: auto 0;

    color: var(--blue-color);

    font-family: 'Inter', sans-serif;
}

main {
    background: linear-gradient(var(--blue-color), var(--green-color));
    color: var(--white-color);

    height: 100vh; 

    animation: backgroundAnimated 0s ease infinite;
}

main h1 {
    margin: 0;
    
    
    padding: var(--padding-value);
    padding-top: 25vh;

    font-size: 70px;
    font-weight: 700;
}

main h2 {
    margin: 0;
    
    padding-left: var(--padding-value);

    font-size: 40px;
    font-weight: 700;
}

#socials {
    margin: 0;
    
    padding-left: var(--padding-value);
    padding-top: var(--padding-value);
}

#socials img {
    height: 50px;
    margin-right: 25px;
}

#scroll {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--padding-value);

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#scroll img {
    width: 25px;
}






#about-me {
    padding: var(--padding-value);
}

#about-me h2 {
    color: var(--green-color);
    background-clip: text;
    font-size: 30px;
}

#competences {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0;
}

#competences li {
    padding: 14px;
    margin-right: 14px;
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 50px;
    font-weight: 700;
}

#about-me p, #about-me ul li {
    font-size: 20px;
}

.tools {
    display: flex;
    width: 100%;
    overflow-y: hidden;
}

#projects {
    display: flex;
    width: 100%;
    overflow-y: hidden;
}

.element {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-right: 30px;
}

.pelement {
    display: flex;
    flex-direction: column;

    width: 300px;

    align-items: center;
    margin-right: 30px;
}

.element img {
    height: 50px;

    margin-bottom: 20px;
}

.pelement b {
    margin-top: 20px;
}

.element p, .element b, .pelement p, .pelement b {
    text-align: center;
}

.used-tools {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0;
}

.used-tools li {
    padding: 14px;
    margin-right: 14px;
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 20px;
    font-weight: 300;
    font-size: 7px;
}